h1, h2, h3, h4 {
  text-align: center;
  font-weight: bold;
}
.header {
    position: relative;
    height: 60vh;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
    color: white;
}
.header-bg {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .7);

}
.column, .columnFr, .columnPl, .columnKr {
  float: left;
  width: 33.33%;
  display: none;
  padding: 8px;

}
.display {
  display: block;
}
.card>img {
  max-height: 300px;
  object-fit: cover;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}
.card>img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
