.zoom {
  zoom: 130%;
}

header {
    background-color: #282828;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    font-family: 'Montserrat Alternates', sans-serif;
}

ul {
    text-align: center;
    padding: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

header li{
  padding-left:20px;
  font-size:19px;
}

body{
  font-family: 'Roboto Slab', serif;
}

hr{
  border-top: 3px solid black;
  border-radius:3px;
}

.dropdown-item{
  font-size:14px;
}

.title{
  text-align:center;
  font-size:25px;
  font-weight: bold;
}

p{
  text-align:center;
}

#about hr{
  border: 2px solid black;
}

#about img {
    padding: 25px 0 0 25px;
    border-radius: 20%;
    width: 200px;
}
.about {
    padding: 25px 0 0 25px;
    width: 68%;
    display: inline-block;
}


@media screen and (min-width: 1000px){
  .w{
    display:inline-block;
  }
  #slider1{
    margin-left:65px;
    width:25%;
  }
  #slider2{
    margin-left:65px;
    width:25%;
  }
  #slider3{
    margin-left:65px;
    width:25%;
  }
  #slider_general1{
    max-height: 700px;
    min-height:200px;
  }

  #slider_general2{
    max-height: 700px;
     min-height:200px;
  }

  #slider_general3{
    max-height: 700px;
    min-height:200px;
  }

  #slider_general1 img{
    max-height: 700px;
    min-height:200px;
  }

  #slider_general2 img{
    max-height: 700px;
     min-height:200px;
  }

  #slider_general3 img{
    max-height: 700px;
    min-height:200px;
  }
}


@media screen and (min-device-width: 640px) and (max-device-width: 1025px){

  #slider1{
    margin:auto;
    width: 50%;
  }

  #slider2{
    margin:auto;
    margin-top:15px;
    width: 50%
  }
  #slider3{
    margin:auto;
    margin-top:15px;
    width: 50%
  }

  #slider_general1{
    max-height: 700px;
    min-height:100px;
  }

  #slider_general2{
    max-height: 700px;
     min-height:100px;
  }

  #slider_general3{
    max-height: 700px;
    min-height:100px;
  }

  #slider_general1 img{
    max-height: 700px;
    min-height:100px;
  }

  #slider_general2 img{
    max-height: 700px;
     min-height:100px;
  }

  #slider_general3 img{
    max-height: 700px;
    min-height:100px;
  }
}

@media screen and (max-device-width: 640px){
  #slider1{
    margin:auto;
    margin-top:15px;
    width:60%
  }
  #slider2{
    margin:auto;
    margin-top:15px;
    width: 60%
  }
  #slider3{
    margin:auto;
    margin-top:15px;
    width: 60%;
  }
  #slider_general1{
    max-height: 700px;
    min-height: 100px;
  }

  #slider_general2{
    max-height: 700px;
     min-height:100px;
  }

  #slider_general3{
    max-height: 700px;
    min-height:100px;
  }

  #slider_general1 img{
    max-height: 700px;
    min-height:100px;
  }

  #slider_general2 img{
    max-height: 700px;
     min-height:100px;
  }

  #slider_general3 img{
    max-height: 700px;
    min-height:100px;
  }
}

* {box-sizing:border-box}
